body {
    width: 50%;
    height: 100%;
    margin-top: 7%;
    margin-left: 25%;
    
    
    }
    .main {
    position: relative;
    background-color: #B0CCAB;
    font-weight: 200;
    text-align: left;
    padding: 80px;
    padding-left: 40px;
    
    }
    .main__paragraph {
    position: relative;
    font-weight: 200;
    left: 10%;
    
    }
    .btn {
        background-color: #e7e7e7; 
        border: none;
        color: rgb(36, 31, 31);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 38px 2px;
        cursor: pointer;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }    